<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title> 
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Edit event</h1>
    <form action="/update-event/<%= event.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= event.title %>" required>
    
        <label for="startDate">From:</label>
        <input type="datetime-local" id="startDate" name="startDate" value="<%= event.startDate %>" required>
    
        <label for="endDate">To:</label>
        <input type="datetime-local" id="endDate" name="endDate" value="<%= event.endDate %>" required>
        <p>
            <label for="guests">Guests:</label>
        </p>
        <ul id="container">
            <% event.guests.forEach(function(guest, index) { %>
                <li class="list-item" id="<%= index %>">
                    <input type="text" name="guests" value="<%= guest %>" required>
                    <button class="remove-btn" type="button" onclick="removeGuest(<%= index %>)">Remove</button>
                </li>
            <% }); %>
        </ul>
        <div>
            <button class="add-guest-btn" type="button" onclick="addGuestField()">Add guest</button>
        </div>
        <input type="submit" value="Save changes" style="margin-top: 15px">
        <input class="delete-btn" style="margin-top: 15px;" type="button" onclick="history.back(); return false;" value="Cancel"/>
    </form>

    <script>
        let i = 0;
        function addGuestField() {
            const container = document.getElementById('container')
            let li = document.createElement('li');
            li.id = 'n' + String(i++);
            li.classList = "list-item";
            li.innerHTML = '<input type="text" id="guests" name="guests" required>';
            li.innerHTML += '<button class="remove-btn" type="button" onclick="removeGuest(this.parentNode.id)">Remove</button>';
            container.appendChild(li);
        }
        function removeGuest(index) {
            var el = document.getElementById(index);
            el.remove();
        }
    </script>
</body>
</html>