<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Edit event</h1>
    <form action="/update-event/<%= event.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= event.title %>" required>

        <label for="startDate">From:</label>
        <input type="datetime" id="startDate" name="startDate" value="<%= event.startDate %>" required>

        <label for="endDate">Время:</label>
        <input type="time" id="endDate" name="endDate" value="<%= event.endDate %>" required>

        <label for="guests">Guests</label>
        <input type="text" id="guests" name="guests" value="<%= event.guests %>" required>

        <input type="submit" value="Save changes">
    </form>
</body>
</html>