<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events List</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Party and Events</h1>
    <% events.forEach(function(event) { %>
        <div>
            <h3 class="event-title"><%= event.title %></h3>
            <div class="event-details">
                <p><strong>From:</strong> <%= String(event.startDate).replace('T', ' ') %></p>
                <p><strong>To:</strong> <%= String(event.endDate).replace('T', ' ') %></p>
                <p><strong>Guests:</strong>
                    <% if(typeof event.guests === "string") { %>
                        <%= event.guests %> 
                    <% } else { %>
                        <% event.guests.forEach(function(guest, index, array) { %>
                            <% if(index > 0 && index < array.length) { %>, <% } %>
                            <%= guest %>
                        <% }); %>
                    <% } %>
                </p>
                <form action="/update-event/<%= event.id %>" method="get" style="display: inline-block;">
                    <button type="submit">Edit</button>
                </form>
                <form action="/delete-event/<%= event.id %>" method="post" style="display: inline-block;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    <% }); %>
    <form action="/add-event" method="get" style="margin-top: 15px">
        <button type="submit">Add event</button>
    </form>
</body>
</html>
