<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events List</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Party and Events</h1>
    <ul>
        <% events.forEach(function(event) { %>
            <li>
                <div class="event-title"><%= event.title %></div>
                <div class="event-details">
                    <p><strong>From:</strong> <%= event.startDate %></p>
                    <p><strong>To:</strong> <%= event.endDate %></p>
                    <p><strong>Guests:</strong> <%= event.guests %></p>
                    <form action="/update-event/<%= event.id %>" method="get">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/delete-event/<%= event.id %>" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
    <form action="/add-event" method="get">
        <button type="submit">Add event</button>
    </form>
</body>
</html>
